<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" type="text/css" href="/media.css">
    <script src="script.js" defer></script>
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&display=swap" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>
        <%= locals.title || 'СКМ-Энергосервис' %>
    </title>
</head>

<body>

    <div class="bgheader"></div>
    <div class="lightning left"><img src="/images/leftl2.png" alt=""></div>
    <div class="lightning right"><img src="/images/rightl.png" alt=""></div>
    <header>
        <img src="/images/ontransperent.png" alt="лого" class="logo">

        <nav>
            <div class="menu dropdown"><a href="/products">Продукция<div class="dropdown-arrow"></div></a>
                <div class="dropdown-level-one dropdown-two">
                    <div class="dropdown-item mersen"><a href="">Mersen</a></div>
                    <div class="dropdown-item"><a href="">Casram</a></div>
                    <div class="dropdown-item"><a href="">Lampar</a></div>
                    <div class="flex-break"></div>
                    <div class="dropdown-level-two">
                        <div class="dropdown-item"><a href="">Предохранители, держатели и аксессуары</a></div>
                        <div class="dropdown-item"><a href="">Устройства защиты от перенапряжения</a></div>
                        <div class="dropdown-item"><a href="">Низковольтные рубильники</a></div>
                        <div class="dropdown-item"><a href="">Высоковольтные разъединители и контакторы</a></div>
                        <div class="dropdown-item"><a href="">Охлаждение для силовой электроники</a></div>
                        <div class="dropdown-item"><a href="">Ламинированные шины</a></div>
                        <div class="dropdown-item"><a href="">Оборудование для железнодорожного транспорта</a></div>
                        <div class="dropdown-item"><a href="">Электронные системы управления энергоснабжением</a></div>
                        <div class="dropdown-item"><a href="">Кабельные распределительные устройства</a></div>
                    </div>
                </div>
            </div>
            <a href="">
                <div class="menu">Виды осуществляемых работ</div>
            </a>
            <a href="">
                <div class="menu">Новости</div>
            </a>

            <a href="">
                <div class="menu">Контакты</div>
            </a>
        </nav>

        <form action="" class="search">
            <input type="text" placeholder="Найти товар">
            <button>Поиск</button>
        </form>
        <div class="mobmenu">
            <img src="/images/list.png" alt="">
            <div class="mobdd1level">
                <div class="mddmenu mddl1"><a href="/mfacturers"></a> Продукция и производители&#11167;
                    <div class="mobdd2level">
                        <div class="mddmenu">Mersen&#11167;</div>
                        <div class="mddmenu">Casram</div>
                        <div class="mddmenu">Lampar</div>
                    </div>
                </div>
                <a href="">
                    <div class="mddmenu">Виды осуществляемых работ</div>
                </a>
                <a href="">
                    <div class="mddmenu">Новости</div>
                </a>
                <a href="">
                    <div class="mddmenu">Контакты</div>
                </a>
            </div>
        </div>
    </header>