<%- include('header-template', { title: locals.title, activeHeader: locals.activeHeader, headLink: locals.headLink }) %>
<div class="main">
<iframe src="/pdf/lampar.pdf" frameborder="0" class="pdf-big-size"></iframe>
</div>
<%- include('footer-template') %>