/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  overflow-y: scroll;
  width: 100%;
}

body {
  width: 100%;
  background: lightgrey;
  text-align: center;
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
}

.lightning {
  position: absolute;
  z-index: 9;
}

.lightning img {
  height: 40vh;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.lightning.left {
  left: -50px;
  top: -20px;
}

.lightning.right {
  top: -10px;
  right: 0;
}

.bgheader {
  background: white;
  width: 100%;
  height: 10vh;
  position: fixed;
  border-bottom: 1px solid grey;
  z-index: 8;
}

header {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  color: #ab0000;
  height: 10vh;
  width: 100%;
  white-space: nowrap;
  z-index: 10;
}

header a {
  color: #ab0000;
}

header a:hover {
  color: black;
}

header .logo {
  height: 90%;
  margin-left: 10%;
  cursor: pointer;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

header nav .menu {
  font-size: 16px;
  margin: .5em;
  font-weight: bold;
}

header nav .dropdown {
  position: relative;
  height: 100%;
  line-height: 10vh;
}

header nav .dropdown-level-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  overflow: hidden;
  top: 10vh;
  left: -14em;
  max-height: 0;
  background: white;
  border: 0px solid grey;
  -webkit-transition: max-height 300ms ease-in-out;
  transition: max-height 300ms ease-in-out;
}

header nav .dropdown-level-one .flex-break {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 0;
}

header nav .dropdown-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 2.5;
  padding: 0 3em;
  border-bottom: 1px solid grey;
  color: #ab0000;
}

header nav .dropdown .mersen {
  border-right: 1px solid grey;
  border-bottom: 2px solid white;
}

header nav .dropdown-arrow {
  display: inline;
}

header nav .dropdown-arrow::before {
  content: '\2B9F';
  display: inline;
}

header nav .dropdown-arrow::after {
  content: '\2B9D';
  display: none;
}

header nav .dropdown:hover .dropdown-level-one,
header nav .dropdown *:focus .dropdown-level-one {
  max-height: 50em;
  border: 1px solid grey;
  border-top: 0px;
}

header nav .dropdown:hover .dropdown-arrow::before,
header nav .dropdown *:focus .dropdown-arrow::before {
  display: none;
}

header nav .dropdown:hover .dropdown-arrow::after,
header nav .dropdown *:focus .dropdown-arrow::after {
  display: inline;
}

header .black-bg-mobile {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

header .search {
  background: lightgrey;
  border-radius: 20px;
  border: 0px;
  padding: 0.3em;
  padding-right: 0;
  margin-right: 10%;
}

header .search input {
  background: transparent;
  border: 0px;
  margin-left: 1em;
  padding: 0px;
  height: 100%;
  outline: 0px;
  caret-color: #ab0000;
}

header .search button {
  background: transparent;
  border: 0px;
  height: 100%;
  margin-right: 0.5em;
  cursor: pointer;
  color: #ab0000;
  text-align: left;
}

header .search button:hover {
  color: black;
}

.main {
  padding-top: 10vh;
  width: 100%;
  min-height: 90vh;
}

.wrapper {
  width: 90%;
  margin: auto;
}

.call {
  position: fixed;
  right: 1.5em;
  bottom: 1.5em;
}

.call img {
  width: 5em;
  height: 5em;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.call img:hover {
  width: 7em;
  height: 7em;
}

.pdf-big-size {
  width: 100%;
  height: 80vh;
}
/*# sourceMappingURL=main.css.map */