$accent-red: #ab0000;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

//end of defaults
html {
  overflow-y: scroll;
}

body {
  background: lightgrey;
  text-align: center;
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
}

.lightning>img {
  height: 40vh;
  pointer-events: none;
}

.left {
  position: absolute;
  left: -50px;
  top: -20px;
}

.right {
  position: absolute;
  right: -10px;
}

.bgheader {
  background: white;
  width: 100%;
  height: 10vh;
  position: fixed;
  border-bottom: 1px solid grey;
}

header {
  background: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  color: $accent-red;
  height: 10vh;
  width: 100%;
  white-space: nowrap;

  a {
    color: $accent-red;

    &:hover {
      color: black;
    }
  }

  .logo {
    height: 90%;
    margin-left: 10%;
    cursor: pointer;
  }

  nav {
    display: flex;
    align-items: center;
    margin-left: auto;

    .menu {
      font-size: 18px;
      margin: .5em;
      font-weight: bold;
    }

    .dropdown {
      position: relative;
      height: 100%;
      line-height: 10vh;

      &-level-one {
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        overflow: hidden;
        top: 10vh;
        left: -14em;
        max-height: 0;
        background: white;
        border: 0px solid grey;
        transition: max-height 300ms ease-in-out;

        .flex-break {
          flex-basis: 100%;
          height: 0;
        }
      }

      &-item {
        flex-grow: 1;
        line-height: 2.5;
        padding: 0 3em;
        border-bottom: 1px solid grey;
        color: $accent-red;
      }

      .mersen {
        border-right: 1px solid grey;
        border-bottom: 2px solid white;
        
      }

      &-arrow {
        display: inline;

        &::before {
          content: '\2B9F';
          display: inline;
        }

        &::after {
          content: '\2B9D';
          display: none;
        }
      }

      &:hover,
      *:focus {

        .dropdown-level-one {
          max-height: 50em;
          border: 1px solid grey;
          border-top: 0px;
        }

        .dropdown-arrow {
          &::before {
            display: none;
          }

          &::after {
            display: inline;
          }
        }
      }
    }
  }

  .search {
    background: lightgrey;
    border-radius: 20px;
    border: 0px;
    padding: 0.3em;
    padding-right: 0;
    margin-right: 10%;

    input {
      background: transparent;
      border: 0px;
      margin-left: 1em;
      padding: 0px;
      height: 100%;
      outline: 0px;
      caret-color: $accent-red;
    }

    button {
      background: transparent;
      border: 0px;
      height: 100%;
      margin-right: 0.5em;
      cursor: pointer;
      color: $accent-red;
      text-align: left;

      &:hover {
        color: black;
      }
    }
  }

}

.lep {
  width: 100%;
  height: 85vh;
  padding-top: 10vh;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
  }
}

.wrapper {
  width: 90%;
  margin: auto;

}

.call {
  position: fixed;
  right: 1.5em;
  bottom: 1.5em;

  img {
    width: 5em;
    height: 5em;
    transition: .3s;
    cursor: pointer;

    &:hover {
      width: 7em;
      height: 7em;
    }
  }
}