.desktop {
	display: inline-block;
}

.mobile {
	display: none;
}

.none {
	display: none;
}

.db {
	display: block;
}

.dib {
	display: inline-block;
}

.df {
	display: flex;
}








@media screen and (max-width: 1050px) {

	.desktop {
		display: none;
	}

	.mobile {
		display: inline-block;
	}

	.lightning {
		display: none;
	}

}